venv/
*.pyc
django-registration
old apps
dakku
settings-private.py
userena/
easy_thumbnails/
bivu_nginx.conf
bivu_uwsgi.ini
mysite_nginx.conf
mysite_uwsgi.ini
todo
exp.py
notes.py
try1.py
random.py
randomid.py
try.py
exp_template.html
