
{% extends 'base.html' %}

{% block content %}
{% include 'navmain.html' %}


<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
        <h1 class="color-green pull-left">My Account: Profile</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a href="{% url 'ent_home' %}">Account</a> <span class="divider">/</span></li>
            <li class="active">Profile</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">   
  <div class="row-fluid">
        <div class = "span3">
            
             <br>
            <br>
       
             <ul class="nav nav-tabs nav-stacked">
                <li>
                <a href="{% url 'ent_home' %}">Home</a>
                </li>
                <li class="active">
                <a href="">Profile</a>
                </li>
                <li>
                <a href="/ent/ventures/">Ventures</a>
                </li> 
                <li>
                <a href="/ent/applications/">Applications</a>
                </li>
                 <br>
                 <br>
            
            </ul>      
                        
        </div>
        <div class = "span1"></div>
    
      <div class="span8">

                <form action="" enctype="multipart/form-data" method="post">
               
                  {% csrf_token %}
                  <fieldset>
                    <legend>Edit Profile</legend>
                    {{ form.as_p }}
                  </fieldset>
                  <input type="submit" value = " Update" />
                </form>

          
                      
        </div><!--/span9-->
       
        
    </div><!--/row-fluid-->
</div><!--/container-->   
<!--=== End Content Part ===-->

{% endblock %}