{% extends 'base.html' %}

{% block content %}
 
{% include 'navmain.html' %}

<!--=== Content Part ===-->
<div class="container"> 
<br><br>    
    <div class="row-fluid">
        <!-- Entrepreneur Pricing -->
        <div class="row-fluid margin-bottom-40">
            <div class = "span3"></div>
            <div class="span3 pricing hover-effect">
                <div class="pricing-head">
                    <h3>Basic<span>Submit Applications Free</span></h3>
                    <h4><i>Free</i><span>- -</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-sitemap"></i>Easily Submit Up to 2 Applications</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
                <div class="pricing-footer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                    <button type="submit">Order Now</button>
                </div>
            </div>
            <div class="span3 pricing hover-effect">
              <div class="pricing-head">
                    <h3>+Network<span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>50<i>.00</i> <span>For 6 Months</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
                <div class="pricing-footer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                    <button type="submit">Order Now</button>
                </div>
            </div>
            <div class = "span3"></div>
        </div><!--/row-fluid-->
        <!--//End Entrepreneur Pricing -->

        <hr class="margin-bottom-60" />

  </div>
          <!-- Accelerator Pricing -->
        <div class="row-fluid margin-bottom-40">
            <div class = "span3"></div>
            <div class="span3 pricing hover-effect">
                <div class="pricing-head">
                    <h3>Basic <span>Administer 1 Campaign per year</span></h3>
                    <h4><i>Free</i> <span>- -</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
                <div class="pricing-footer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                    <button type="submit">Order Now</button>
                </div>
            </div>
            <div class="span3 pricing hover-effect">
              <div class="pricing-head">
                    <h3>+integration<span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>300<i>.00</i> <span>Per Year</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
                <div class="pricing-footer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                    <button type="submit">Order Now</button>
                </div>
            </div>
            <div class = "span3"></div>
        </div><!--/row-fluid-->
        <!--//End Pricing -->

  
  <!--/row-fluid-->
</div><!--/container-->     
<!--=== End Content Part ===-->
{% endblock %}


{% block javascript %}
    $("#pricing").addClass("active");
{% endblock %}