 <br>
            <br>
                        
             <ul class="nav nav-tabs nav-stacked">
                <li class="active">
                <a href="/ent/home/">Home</a>
                </li>
                <li>
                <a href="/ent/profile">Profile</a>
                </li>
                <li>
                <a href="/ent/ventures/">Ventures</a>
                </li> 
                <li>
                <a href="/ent/applications/">Applications</a>
                </li>
                 <br>
                 <br>
            
            </ul>       
                        